{% load static %}
/* Fonts */
@font-face {
  font-family: "RecoletaAlt-Bold";
  src: url('../Fonts/RecoletaAlt-Bold.eot');
  src: url("../Fonts/RecoletaAlt-Bold.woff") format("woff");
  src: url('../Fonts/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofia-pro-black";
  src: url('../Fonts/SofiaProBlack.eot');
  src: url("../Fonts/SofiaProBlack.woff") format("woff");
  src: url('../Fonts/SofiaProBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofia-pro-extra-light";
  src: url('../Fonts/SofiaProExtraLight.eot');
  src: url("../Fonts/SofiaProExtraLight.woff") format("woff");
  src: url('../Fonts/SofiaProExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofia-pro-regular";
  src: url('../Fonts/SofiaProRegular.eot');
  src: url("../Fonts/SofiaProRegular.woff") format("woff");
  src: url('../Fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* LOGO */
.logo-positioning {
  width:14%; /* you can use % */
  height: auto;
  margin: -1em 3em;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-positioning-white {
  width:10%; /* you can use % */
  height: auto;
}

/* NAVIGATION CSS */

.main-nav {
  text-align: right;
  font-size: 1.1em;
  font-weight: bolder;

}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;

}
.nav a {
  display: inline-block;
  padding: .2em;
  color: black;
  text-decoration: none;
  margin: 1em 0.4em 0em 0.2em;
}

.nav a:hover {
  background-color: rgba(255,255,255, 0.5);
}


.main-nav li {
  padding: 0 2%;
}


/* HEADER CSS */

.main-header {
  background-blend-mode: cover;
  background-size: cover; 
  padding-bottom: 30px;
}

.body-container { 
  text-align:center;
}


.body-container2 {   
  text-align:center;
}

.language-drop-shadow {
  filter: drop-shadow(0 0 0.5rem rgba(128,128,128,0.5));
}
/* PROJECTNAME CSS */

.section-header {
	text-align: center;
	font-size: 2em;
  font-family: "sofia-pro-black";
  font-weight: normal;
  margin: 1em 0 0 0;
}


.description {
	color: black;
	text-align: center;
	font-size: 1.5em;
  font-family: "sofia-pro-extra-light";
}

/* FOOTER CSS */
.main-footer {
  background-color: rgba(108, 148, 174, 0.5);
  padding: .25em 0;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-backdrop {
 background-image: url("https://i.ibb.co/YkRc228/i01-wallpaper.jpg");

 object-fit: cover;
 background-repeat: no-repeat;
 background-size: cover;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-font {
  font-family: "sofia-pro-regular";
  font-weight: normal;
}

.content-section {
	margin: 1em;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
 }

/*START OF CAROUSAL CSS */
* {box-sizing:border-box}


.Containers {
	display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.Back, .forward {
	cursor: pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: 23px;
	padding: 17px;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}

.forward {
	right: 0;
	border-radius: 4px 0 0 4px;
}

.Back:hover, .forward:hover {
  background-color: rgba(232, 232, 232, 0.2);
}

/* Caption Info */

.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  align-items: center;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


/* flag visuals */

.flag-center {
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.column {
  display:inline-block;
  margin:40px 3px;
  padding:5px;
}

.column2 {
  display:inline-block;
  margin:30px 70px;
  padding:5px;
}

.column3 {
  display:inline-block;
  margin:10px 70px;
  padding:5px;
}




.france {
  filter: drop-shadow(0 0 0.5rem rgba(2,34,159,255));
}

.spain {
  filter: drop-shadow(0 0 0.5rem rgba(204,0,1,255));
}

.romania {
  filter: drop-shadow(0 0 0.5rem rgba(252,210,15,255));
}

.poland {
  filter: drop-shadow(0 0 0.5rem rgba(220,20,60,255));
}

.england {
  filter: drop-shadow(0 0 0.5rem rgba(0,82,180,255));
}


/* About Page CSS */

.about-header {
  position:absolute;
  top:90px;    
  left:200px;  
  font-size: 4em;
}

.about-section {
  margin: 1em;
}

.about-container {
  position:absolute;
  top:150px;    
  left:173px;  
  font-size: 2em;
  max-width: 1000px;
}

.about-backdrop {
  position: absolute;
  right: 200px;
  top:150px;    
  height: 60%;  
}

/* Contact Page CSS */

.contact-header {
  position:absolute;
  top:90px;    
  left:200px;  
  font-size: 4em;
}

.contact-section {
  margin: 1em;
}

.contact-container {
  position:absolute;
  top:150px;    
  left:173px;  
  font-size: 2em;
  max-width: 1000px;
}

.contact-backdrop {
  position: absolute;
  right: 200px;
  top:150px;    
  height: 60%;  
}

.contact-picture {
  background-size: 10%;
  z-index: 1;
}

.email {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.phone {
  position: relative;
  bottom: 10px;
}

/* Choose Form Type */

.choose-form-header {
  text-align: center;
  font-size: 1em;
  font-family: "sofia-pro-black";
  font-weight: normal;
  margin: -1.1em 3em;
}

.corner {
  border-radius: 5%;
}

.forms {
  filter: drop-shadow(0 0 0.5rem rgba(128,128,128,0.7));
}

.form-choice-content-section {
  margin: 1em;
}

.form-choice-container {
  text-align:center;
}

.form-position-align {
  max-width: 1000px;
  margin: 5em -27.5em;
  padding: 0 1.5em;
}

.embed-margin {
  position: absolute;
  margin:-30px 70px;
}

.embed-margin2 {
  position: absolute;
  right: 350px;
  top:485px;
}

#myDIV {
  width: 100%;
  padding: 600px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.embed-margin-dropdown {
  position: absolute;
  right: 200px;
  top:900px;
}

.embed-margin-dropdown2 {
  position: absolute;
  left: 200px;
  top:900px;
}

.choose-form-header-dropdown {
  text-align: center;
  position: absolute;
  left: 850px;
  top:750px;
  font-size: 1.98165em;
  font-family: "sofia-pro-black";
  font-weight: normal;
}


.numbers {
  height: 3.5em;
  width: auto;
  margin: -2em 0em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.numbers2 {
  height: 3.5em;
  width: auto;
  margin: -1em 0em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}




.instruction-container {
  height: 200px;
  position: relative;

}

.text-pos {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 1.5em;
  font-weight: normal;
}

.started-button {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin: -3em 100em 10em 43em;

}


.vl {
  border-left: 6px solid grey;
  height: 70%;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.steps-header {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 25px;
  font-weight: normal;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 200px;
  margin-inline-end: 0px;
  margin: 1em 9em;

}

.steps-header {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 25px;
  font-weight: normal;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 200px;
  margin-inline-end: 0px;
  margin: 1em 9em;

}



.steps-body {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 15px;
  font-weight: lighter;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 1em 15em;
  line-height: 1.6;
}

.steps-header2 {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 25px;
  font-weight: normal;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  line-height: 1.6;

}

.steps-body2 {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 15px;
  font-weight: lighter;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  line-height: 1.6;
}

.steps-header3 {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 25px;
  font-weight: normal;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  line-height: 1.6;

}

.steps-body3 {
  padding-left: 20px;
  font-family: "sofia-pro-regular";
  font-size: 15px;
  font-weight: lighter;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  line-height: 1.6;
}

.button {
  background-color: #5ac9ac;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 25px;
  font-family: "sofia-pro-regular";
  font-weight: normal;
  cursor: pointer;
}

.button:hover {background-color: #41B093}

